<div class="container">
  <h1>MAKE MEME</h1>
  <div *ngIf="memeData">

    <div *ngFor="let dummy of ' '.repeat(captions.length).split(''), let x = index">
      <input type="text" placeholder="Text" key={x} [(ngModel)]="captions[x]" name="text" />
    </div>

    <img
    class="img"
    src={{memeData.url}}
    alt={{memeData.name}} />

    <div class="btn">
      <button (click)="makeMeme()">
        <span>MAKE</span>
      </button>
      <button (click)="skipMeme()">
        <span>SKIP</span>
      </button>
    </div>

  </div>
</div>
